PSQL_USER=someuser
PSQL_PASSWORD=somepassword

MINIO_ACCESS_KEY_ID=some_access_key_id
MINIO_SECRET_KEY=some_secret_key

SECRET_KEY=some_secret_key 

RABBITMQ_USERNAME=some_user
RABBITMQ_PASSWORD=some_password